<h3>Ingrese la producción diaria</h3>
<hr/>
<table class='table table-striped'>
	<thead>
		<tr>
			<td class="text-center h4">Día</td>
			<% @productos.each do |producto| %>
				<td class= 'text-center h4'><%= producto.nombre.capitalize %></td>
			<% end%>
		</tr>
	</thead>
	<tbody>
	<% ids_producto = @productos.ids %>
	<div class='text-right'>
	<%= link_to 'Genere Aleatorios', produccion_diaria_aleatoria_path(@archivo.id) %>
	</div>
	<%= form_for @archivo, url: update_produccion_diaria_path(@archivo.id) do |f| %>
		<% @numero_de_dias.times do |index| %>
			<tr>
				<td class='text-center table-responsive'><%= index + 1 %></td>
				<% @num_de_productos.times do |index_producto| %>
					<td class='text-center'>
						<input id="archivo_productos_attributes_<%=index_producto%>_produccion_diaria_attributes_<%=index%>_cantidad" name="archivo[productos_attributes][<%=index_producto%>][produccion_diaria_attributes][<%=index%>][cantidad]" type="text" value="<%= get_aleatorio_exponencial(10).round(8) %>">
					</td>
					<input id="archivo_productos_attributes_<%=index_producto%>_id" name="archivo[productos_attributes][<%=index_producto%>][id]" type="hidden" value="<%=ids_producto[index_producto]%>">
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<hr/>
<div class="row">
	<div class='col-sm-3 text-left'>
	<%= link_to 'Atras', variables_produccion_path(@archivo.id) %>
	</div>
	<div class='col-sm-3 text-left'>
	 <%= link_to 'Volver al inicio', root_path %>
	</div>
</div>
<div class="row">
	<div class='col-sm-12 text-right'>
		<%= f.submit "Calcular", class: 'btn btn-lg btn-primary'%>
	</div>
</div>
<% end %>