<h1>Ingrese las variables de producción</h1>
<h1><%= @archivo.nombre%></h1>
<h1><%= @archivo.num_de_dias%></h1>
<% variables = ['Mano de Obra', 'Tiempo', 'Insumos'] %>
<table>
	<thead>
		<tr>
			<th></th>
			<% @productos.each do |producto| %>
				<th><%= producto.nombre%></th>
			<% end %>
		</tr>
	</thead>
	<tbody>

		<% variables.each do |variable|%>
			<tr>
				<td>variable</td>

				<% @productos.each do |producto| %>
					<td><%= producto.nombre%></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>